{% include "header.html" %}


<header class="masthead" style="background-image: url('../static/assets/img/about-bg.jpg')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>

<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          I am a 3rd-year Computer Science student at LJ University, currently pursuing a Bachelor of Engineering (B.E.)

        </p>
        <p>
          I have a strong foundation in Full Stack Web Development, with proficiency in programming languages like
          Python, Java, C, and JavaScript.
        </p>
        <p>
          I am skilled in front-end technologies such as HTML, CSS, and Bootstrap, and have experience with JavaScript
          frameworks and libraries like React. On the back end, I am knowledgeable in Node.js and Express.js, and I work
          with databases like MongoDB and MySQL. Additionally, I am familiar with Python frameworks such as Django and
          Flask. I have completed several projects that demonstrate my ability to integrate these technologies into
          functional and efficient web applications.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}